<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Don't rewrite if it's an actual file
  RewriteCond %{REQUEST_FILENAME} !-f
  # Don't rewrite if it's an actual directory
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Rewrite all other requests to index.html
  RewriteRule ^(.*)$ /index.html [L]
</IfModule>
